.todo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.todo__check {
  font-size: 1.25em;
}

.todo__description {
  flex: 1;
  padding: 5px;
}

.todo__remove {
  margin-left: auto;
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
  width: 25px;
  height: 25px;
  line-height: 25px;
}

.todo_completed .todo__description {
  text-decoration: line-through;
  opacity: .5;
}
